@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.idioma{
    display: none;
}
a:visited {
    color: inherit;
    text-decoration: none;
}

#navbar{
    /* display: none; */
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: Bebas, sans-serif;
    color: white;
    font-family: Inconsolata, sans-serif;
    font-weight: 800;
    font-size: 30px;

}

.bars_menu {
    display: block;
}

.bars_menu span{
    display: flex;
}
 a:visited {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.mostrar_menu{
    display: flex;
}

.menu{
display: none;
font-family: Inconsolata, sans-serif;
font-weight: 800;
margin-top: 50px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
padding: 20px;
border-radius: 20px;
    
}
.menu_active{
    display: flex;
    transform: translateY(0);
}

.list-links{
color: rgb(56, 5, 5);
font-size: 23px;
font-weight: 600;
display: flex;
flex-direction: column;
gap: 20px;
padding: 0;
}

.idioma img{
width: 25px;
height: 25px;
}

/* MENU HAMBURGUESA */

.bars_menu{
    display: block;
    width: 30px;
    height:30px ;
    position: absolute;
    top:40px;
    right: 40px;
    transform: (-50%, -50%) scale(6);
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
    

.bars_menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(242, 237, 247);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transform: all 400ms;
    font-weight: bold;
    justify-content: center;
    
    
} 

.activeline1_bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2_bars-menu{

opacity: 0;
margin-left: -30px;

}
.activeline3_bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.transicion {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

/* //AQUÍ TENEMOS MEDIDAS PARA ORDENADOR EN ADELANTE */
@media screen and (min-width: 768px) {

    .transicion {
        opacity: 0;
        transform: translateY(0%);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
#navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    align-items: center;
    opacity: 1;
    
    
}

.menu{
        padding: 40px;
        display: flex;
        opacity: 1;
        box-shadow: none;
       
  
    }
    .bars_menu{
        display: none; 
   }

    .list-links{
        display: flex;
        flex-direction: row;
        gap: 40px;
        color: antiquewhite;
   }

    a:visited {
        color: inherit;
        text-decoration: none;

   
    }

  
}