*{
box-sizing: border-box;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
}



/* AQUÍ SERIA NECESARIO PONER LAS VARIABLES CON LOS COLORES POR EJEMPLO. */

body{
  margin: 0 auto;
  padding: 0;
  background-color: #a89880;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
 
}

a:visited{
  color: antiquewhite;
  text-decoration: none;
}