
.about{
    margin-top: 10px;
    padding: 20px 20px 70px 20px;
}


.button_cv{
    border-radius: 30px;
    display: flex;
    background-color: rgb(97, 74, 74);
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 230px;
    margin-bottom: 40px;

}

.button_cv a{
font-size: 17px;
font-weight: 600;
}
.titulo_about{
   
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
   animation: slide-in 1s ease-in-out;
}

.titulo_about h1{
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 12px;
    color: beige;
    letter-spacing: 8px;
    font-weight: 100px;

}
.about h1{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.882);
    text-align: center;
    margin-top: 50px;
    display: inline;
    animation: slide-in 1s ease-in-out;
    font-size: 18px;
    color: beige;
    letter-spacing: 5px;
    font-weight: 200px;

}

 .izquierda{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 50px;
    background-color: #b8b8b8;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}


.derecha{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 50px;
    background-color: #707070;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
   
}
.about img {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    transition: all 0.2s ease-in;

}

.about img:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}

.texto_about{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content:center;
    align-items: center;
    gap: 20px;

    
}

.texto_about h4{
    text-align: center;
}
.derecha{
    justify-content: flex-end;
}
.derecha img{
order: 2;
}

.texto_about h4{
   
    margin-top: 40px;
    font-size: 19px;
    color: antiquewhite;
    font-weight: 100;
   
}


@media screen and (min-width:768px) {
    .texto_about{
        flex-direction: row;
        gap: 50px;
    }

    .titulo_about h1{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    .derecha h4{
        text-align: right;
    }

    .izquierda h4{
        text-align: left;
    }
}